[submodule "src/cppCORE"]
	path = src/cppCORE
	url = https://github.com/imgag/cppCORE.git
	branch = master
[submodule "src/cppGUI"]
	path = src/cppGUI
	url = https://github.com/imgag/cppGUI.git
	branch = master
[submodule "src/cppXML"]
	path = src/cppXML
	url = https://github.com/imgag/cppXML.git
	branch = master
[submodule "src/cppTFW"]
	path = src/cppTFW
	url = https://github.com/imgag/cppTFW.git
	branch = master
