name: MacOS build

on: [push, pull_request]

jobs:
  mac-build-and-test:
    runs-on: macos-10.15
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Update submodules
      run: git submodule update --recursive --init
    - name: Create a settings.ini file for tests
      run: .github/workflows/settings_win_mac.sh
      shell: bash
    - name: Update Homebrew
      run: brew update
    - name: Setup Qt dependencies
      run: brew install qt@5 lzlib openssl
    - name: Link Qt installation
      run: brew link qt@5 --force
    - name: Install matplotlib
      run: sudo pip install matplotlib
    - name: Build project dependencies
      run: make build_3rdparty build_libs_release build_tools_release build_gui_release build_server_release
    - name: Generate SSL certificate-key pair
      run: openssl req -new -newkey rsa:4096 -days 365 -nodes -x509 -subj "/C=DE/ST=BW/L=Tuebingen/O=test-certificate/CN=localhost" -keyout ~/test-key.key -out ~/test-cert.crt
    - name: Download test files
      run: make download_test_files
    - name: Start GSvar server and run tests
      run: |
        bin/GSvarServer -p=8443 -l=3 &
        make -k test_lib test_server test_tools
