name: Qt 5.15.17 on Windows Server 2025

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-2025
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v4
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: false
          release: true
          install: git base-devel mingw-w64-x86_64-toolchain mingw-w64-x86_64-zlib mingw-w64-x86_64-bzip2 mingw-w64-x86_64-xz mingw-w64-x86_64-curl mingw-w64-x86_64-dlfcn mingw-w64-x86_64-qt5 mingw-w64-x86_64-libmariadbclient mingw-w64-x86_64-python mingw-w64-x86_64-python-numpy mingw-w64-x86_64-python-matplotlib mingw-w64-x86_64-python-packaging mingw-w64-x86_64-sqlite3 libsqlite libsqlite-devel unzip
      - name: Update submodules
        run: git submodule update --recursive --init
      - name: Unpack htslib
        working-directory: ./htslib
        run: unzip htslib_win_64_qt6.zip
      - name: Copy htslib to bin folder
        run: (cp htslib/lib/hts.dll.a bin/) && (cp htslib/lib/hts-3.dll bin/) && (cp htslib/lib/libhts.a bin/)
      - name: Unpack libxml2
        working-directory: ./libxml2
        run: unzip -o libxml2_win_64.zip
      - name: Copy libxml2 to bin folder
        run: cp libxml2/libs/* bin/
      - name: Download test files
        run: make download_test_files
      - name: Build other dependencies
        run: make build_libs_release build_tools_release build_gui_release
      - name: Create a settings.ini file for tests
        run: .github/workflows/settings_win_mac.sh
        shell: bash
      - name: Run tests
        run: make -k test_lib_windows test_tools_windows
