name: Windows build

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v2
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW32
          update: true
          install: git base-devel mingw-w64-i686-toolchain mingw-w64-i686-zlib mingw-w64-i686-bzip2 mingw-w64-i686-xz mingw-w64-i686-curl mingw-w64-i686-dlfcn mingw-w64-i686-qt5 mingw-w64-i686-libmariadbclient mingw-w64-i686-python mingw-w64-i686-python-numpy mingw-w64-i686-python-matplotlib mingw-w64-i686-python-packaging unzip

      - name: Update submodules
        run: git submodule update --recursive --init
      - name: Unpack htslib
        working-directory: ./htslib
        run: unzip htslib_win.zip
      - name: Copy htslib to bin folder
        run: (cp htslib/lib/hts.dll.a bin/) && (cp htslib/lib/hts-3.dll bin/) && (cp htslib/lib/libhts.a bin/)
      - name: Download test files
        run: make download_test_files
      - name: Build other dependencies
        run: make build_libs_release build_tools_release build_gui_release
      - name: Create a settings.ini file for tests
        run: .github/workflows/settings_win_mac.sh
        shell: bash
      - name: Run tests
        run: make -k test_lib_windows test_tools_windows
